@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --move-initial: calc(-25%);
  --move-final: calc(-50%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-popin: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.slider{
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: autoRun 20s linear infinite;
}

@keyframes autoRun{
  from{
    transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
  }to{
    transform: perspective(1000px) rotateX(0deg) rotateY(360deg);
  }
}
.item{
  inset: 0 0 0 0;
  transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(550px)!important;
}


@media screen and (max-width: 1024) {
  .slider{
    transform: perspective(500px);
  }

  @keyframes autoRun{
    from{
      transform: perspective(500px) rotateX(0deg) rotateY(0deg);
    }to{
      transform: perspective(500px) rotateX(0deg) rotateY(360deg);
    }
  }
  .item{
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(225px)!important;
  }
}

@media screen and (max-width: 640) {
  .slider{
    transform: perspective(200px);
  }

  @keyframes autoRun{
    from{
      transform: perspective(250px) rotateX(0deg) rotateY(0deg);
    }to{
      transform: perspective(250px) rotateX(0deg) rotateY(360deg);
    }
  }
  .item{
    transform: rotateY(calc((var(--position) - 1) * (360deg / var(--quantity)))) translateZ(130px)!important;
  }
}

.image-1 {
  width: 400px;
  left: 16%;
  bottom: 14%;
}
.image-3 {
  width: 300px;
  right: 12%;
  top: 8%;
}
.image-4 {
  max-width: 400px;
  width: 40%;
  right: 20%;
  bottom: 10%;
}
.image-2 {
  width: 280px;
  left: 14%;
  top: 12%;
}

.marquee {
  position: relative;
  overflow: hidden;
}  
.animate .marquee__inner {
  animation-play-state: running;
}
.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(var(--move-initial), 0, 0);
  animation: marquee 20s linear infinite;
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}